@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
}

.hide {
  display: none;
}

@layer components {
  .small-title {
    @apply uppercase text-secondary font-bold tracking-wider mb-2;
  }

  .form button {
    @apply !bg-secondary !rounded-none !shadow-none hover:!bg-main !text-main hover:!text-white !text-sm !w-full lg:!w-40;
  }

  /* Pagination */

  #pagination div {
    @apply !flex !gap-4;
  }

  span[aria-current="page"] {
    @apply px-2 rounded-full bg-secondary;
  }

  .main_nav li {
    @apply hover:!opacity-50 !transition-all;
  }
}
